<section class="about_section layout_margin-bottom">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="assets/images/about-img.webp" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                A propos
              </h2>
            </div>
            <p>
                Bienvenue sur notre plateforme de soins de santé révolutionnaire, synonyme d'une approche moderne et connectée. 
                Nous nous engageons à améliorer la qualité des soins en offrant une expérience innovante. 
                Explorez dès maintenant nos fonctionnalités avant-gardistes et découvrez comment nous faisons évoluer l'avenir des soins de santé intelligents.
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

